<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head>
  <div layout:fragment="metadata" th:remove="tag">
    <title>Abhijay's Page</title>
  </div>
</head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>
<div layout:fragment="content" th:remove="tag">
  <!-- Start of body content specific to page -->

  <div style="margin-left: 50px; margin-top: 50px; width:60%" class="row justify-content-around">
    <div><center>
      <a title="click to toggle!" onclick="imageSwitch(1)"><img id="image1" style="display:none" th:src="@{/images/blackabhijay.jpg}" src="/static/images/kevin-fried.jpg" width="400px" height="400px"></a>
      <a title="click to toggle!" onclick="imageSwitch(2)"><img id="image2" style="display:inline" th:src="@{/images/abhijay.jpg}" src="static/images/kevin.jpg" width="400px" height="400px"></a>
      <h1 style="" class="aboutName">ABHIJAY DEEVI</h1>
    </center></div>
    <div>
      <table class="miniTable">
        <thead>
        <tr>
          <th:block th:each="map : ${mapsList}">
            <th:block th:each="mapEntry : ${map}">
              <td><a title="click me!" th:href="@{${mapEntry.value}}" target="_blank" th:text="${mapEntry.key}"></a></td>
            </th:block>
          </th:block>
        </tr>
        </thead>
      </table>
      <hr style="color:white;background-color:white">
      <div>
        <center>
          <p class="smallTitle">Genius API</p>
          <form action="/about/abhijay" method="GET">
            <label style="color:white" for="artistField">Search Genius</label>
            <input id="artistField" name="artist" type="text">
            <input type="submit">
          </form>
          <div style="padding-top:20px">

            <img th:src="@{${song_art_url}}" width="200px" height="200px">
            <p style="color:white;padding-top:15px" th:text="${song_name}"></p>

          </div>
        </center>
      </div>
    </div>
    <div style="color:var(--text)">
      <h1 class="sectionTitle">FRQs</h1>
      <ul>
        <li>
          <a href="/abhijay/unit2"><p>Unit 2</p></a>
        </li>
      </ul>
    </div>
  </div>
  <script>
    function imageSwitch(type)
    {
      if(type===1) {
        document.getElementById('image1').style.display = 'none';
        document.getElementById('image2').style.display = 'inline';
      }

      if(type===2) {
        document.getElementById('image2').style.display = 'none';
        document.getElementById('image1').style.display = 'inline';
      }
    }
  </script>
  <!-- end of body content specific to page -->
</div>
</body>
</html>