<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" /></head>
<!-- Begin navigation fragments -->
<nav class="cnav navbar navbar-expand" th:fragment="header">
    <a href="/">
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fsecure.img1-fg.wfcdn.com%2Fim%2F04725967%2Fcompr-r85%2F1321%2F132185074%2Fupright-arcade-game.jpg&imgrefurl=https%3A%2F%2Fwww.wayfair.com%2Ffurniture%2Fpdp%2Fn2fun-mamehyperspin-upright-arcade-game-nunm1000.html&tbnid=nNNBMdjCAeUFxM&vet=12ahUKEwjQ8sGg4MX0AhVbHjQIHQJ5CmsQMygDegUIARCFAw..i&docid=LTyyryITYvbedM&w=1075&h=1814&q=arcade%20machine&ved=2ahUKEwjQ8sGg4MX0AhVbHjQIHQJ5CmsQMygDegUIARCFAw"
             width="auto" height="50" class="d-inline-block align-center" alt="">
    </a>
    <a href="/" style="text-decoration: none;"><h3 class="nav-link navtext">P2-Slackbots</h3></a>

    <!-- Bootstrap menus -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--root menu -->
            <li class="nav-item active">
                <a class="nav-link navtext" href="/aboutus">About Us <span class="sr-only">(current)</span></a>
            </li>
            <li style="cursor: default">|</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navtext" href="#" id="navbarNews" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    News
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/NewsSource">Games</a>
                    <a class="dropdown-item" href="/news">Games</a>
                    <a class="dropdown-item" href="/key">Games</a>
                </div>
            </li>
            <li style="cursor: default">|</li>
            <li class="nav-item active">
                <a class="nav-link navtext" href="/backend">Games<span class="sr-only">(current)</span></a>
            </li>
            <li style="cursor: default">|</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navtext" href="#" id="navbarJournal" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pair Journals
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ak">Abhijay + Kian</a>
                    <a class="dropdown-item" href="/jrs">Justin + Rohan + Shekar</a>
                </div>
            </li>
            <li style="cursor: default">|</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navtext" href="#" id="navbarPBL" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Minilabs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/minilab1">Greet + Birds</a>
                    <a class="dropdown-item" href="/binary">Binary</a>
                    <a class="dropdown-item" href="/grayscale">Grayscale Converter</a>
                    <a class="dropdown-item" href="/base64">RGB values in images</a>
                    <a class="dropdown-item" href="/upload">Upload and Share Images</a>

                </div>
            </li>

            <li style="cursor: default">|</li>
            <!--           <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle navtext" href="#" id="navbarPal" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Chris
                           </a>
                           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                               <a class="dropdown-item" href="/palindrome">Abstract Palindrome</a>
                               <div class="dropdown-divider"></div>
                               <a class="nav-link dropdown-toggle navtext" href="#" id="navbarnonab" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: unset">
                                   Non-Abstract Palindromes
                               </a>
                               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                   <a class="dropdown-item" href="/palindrome1">Palindrome1</a>
                                   <a class="dropdown-item" href="/palindrome2">Palindrome2</a>
                                   <a class="dropdown-item" href="/palindrome3">Palindrome3</a>
                                   <a class="dropdown-item" href="/palindrome4">Palindrome4</a>
                               </div>
                           </div>
                       </li>
                       <li style="cursor: default">|</li>
                       <li class="nav-item active">
                           <a class="nav-link navtext" href="/feedback">Feedback <span class="sr-only">(current)</span></a>
                       </li>
                       <li style="cursor: default">|</li>
           -->




        </ul>
    </div>
</nav>
<!-- Begin navigation fragments -->
</body>
</html>