<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Chris Individual</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" /></div></head>

<body style="background-color: #6084a3;"><div layout:fragment="content" th:remove="tag">

    <table>
        <tr>
            <th>NFT Name</th>
            <th>Description</th>
            <th>Rating</th>
        </tr>
        <tr th:each="review: ${reviews}">
            <td th:text="${review.name}"></td>
            <td th:text="${review.description}"></td>
            <td th:text="${review.rating}"></td>
        </tr>
    </table>

    <h1>Add New NFT!</h1>

    <form action="#" th:action="@{/addNFT}" th:object="${nft}" method="post">
        <p>
            Name: <input type="text" th:field="*{name}">
        </p>
        <p>
            Description: <input type="text" th:field="*{description}">
        </p>
        <p>
            Rating: <input type="text" th:field="*{rating}">
        </p>
        <p>
            <input type="submit" value="Submit"/>
        </p>
    </form>


</div>

    <!-- End of body content specific to page -->
</div></body>
</html>