<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Make a NFT page</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" /></div></head>
<body style="background-color: #6084a3;"><div layout:fragment="content" th:remove="tag">


    <h1 class="addNewHeaders">Add New NFT Rating!</h1>

    <form action="#" th:action="@{/addNFT}" th:object="${nft}" method="post" class="submission-form">
        <p>
            <label class="labeltag">Name </label> <input type="text" class="texttags" th:field="*{name}">
        </p>
        <p>
            <label class="labeltag">Description </label> <input type="text" class="texttags" th:field="*{description}">
        <p>
        <label class="labeltag">Rating </label> <input type="text" class="texttags" th:field="*{rating}">
        </p>
        <p>
            <input type="submit" id="sendBtn" value="Submit"/>
        </p>
    </form>
    <h1 class="addNewHeaders">Database of NFT Ratings</h1>
    <table id="database">
        <tr>
            <th>NFT Name</th>
            <th>Description</th>
            <th>Rating</th>
        </tr>
        <tr th:each="review: ${reviews}">
            <td th:text="${review.name}"></td>
            <td th:text="${review.description}"></td>
            <td th:text="${review.rating}"></td>
        </tr>
    </table>

</div>

    <!-- End of body content specific to page -->
</div></body>
</html>